<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : myrobot
    - 3d Sensor : d435 on top1_plate and zed on top2_plate
-->    
<robot name="turtlebot2" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find turtlebot2_description)/urdf/stacks/myrobot.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2_description)/urdf/sensors/d435.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2_description)/urdf/sensors/zed.urdf.xacro"/>
  
  <kobuki/>
  <xacro:stack_myrobot parent="base_link"/>
  <xacro:sensor_d435 parent="plate_top1_front_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
  <xacro:sensor_zed parent="plate_top2_front_link" camera_name="zed2" camera_model="zed2">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_zed>
</robot>
